* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-metamorphous), serif;
}

:root{
  --background: #4B2E23;
  --text-color: #D9C9A3;
  --details-red: #8C1C13;
  --details-black: #1C1C1C;
  --details-grey: #b3b3b3;
}