* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root{
  --background: #4B2E23;
  --text-color: #D9C9A3;
  --highlight-color: #8C1C13;
  --secondary-color: #1C1C1C;
  --accent-color: #585858;
} */