.footer {
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-dark-brown);
    color: var(--text-color);
    box-shadow: 0 0 12px -4px rgba(0, 0, 0, 1);
    border-top: 0.7rem solid var(--details-grey);
    box-shadow: inset 0 8px 16px -8px rgba(0, 0, 0, 1);
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.brand {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 0.7rem;
    margin-bottom: 2.3rem;
}

.socialNav {
    display: flex;
    gap: 1.5rem;
}

.socialLink {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialLinkImage {
    width: auto;
    height: 100%;
}

.copyright {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}